@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #c89adb;
}

/* TEXT */
h1 {
  text-align: center;
  margin: 5%;
  font-weight: bold;
}
.order-item-name {
  font-weight: bold;
}

/* BUTTONS */
button {
  margin: 5px;
}
.copy-btn {
  margin: 5px;
}
#btn-signout {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5%;
}
#btn-holder {
  display: flex;
  justify-content: center;
  margin: 5vh;
}

/* NAVBAR */
.navbar-brand {
  width: 50%;
}

/* IMAGES */
#logo {
  width: 15%;
}

/* CARDS */
.order-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}
#order-card {
  width: 70%;
}
#order-card-body {
  display: flex;
  justify-content: space-between;
}


#full-order {
  display: flex;
  justify-content: center;
  gap: 25px;
}
#customer-details {
  background-color: rgb(15, 60, 156);
  color: whitesmoke;
  padding: 5%;
  border-radius: 25px;
  max-height: 330px;
}
